.withdraw__button, .withdraw__loader{
    background:var(--dark);
    border: none; outline: none;
    position: fixed;
    top: -25%;
    left:30%;
    width: 40%;
    border-radius: var(--radius);
    border: 2px solid var(--light);
    box-shadow: 1px 2px 4px var(--light);
    padding: .2rem 0;
    text-align: center;
    color: var(--light);
    transition: all .2s;
    cursor: pointer;
    font-size: .9em;
}
.withdraw__loader{
    border: none;
    box-shadow: var(--dark);
}
@media (min-width:600px){
    .withdraw__button:hover{
        transform: scale(.95);
        box-shadow: 0px 0px 8px var(--primary);
        border-color: var(--primary);
        color: var(--primary);
    }
}

@media (max-width:600px){
    .withdraw__button, .withdraw__loader{
        width: 45%;
        left: 0;
        top: -35%;
        font-size: .75em;
        padding: .4rem 0;
    }

    .withdraw__button:active{
        transform: scale(.95);
        box-shadow: 0px 0px 8px var(--primary);
        border-color: var(--primary);
        color: var(--primary);
    }
}